.card-browser {
	display: block;
	width: 100%;
	position: relative;

	.card-grid {
		display: grid;
		grid-template-columns: minmax(0px, 1fr);
		gap: 2rem;
		padding: 1rem;

		&[layout="List"] {
			@media (min-width: 1600px) {
				grid-template-columns: 1fr 1fr;
			}

			.card {
				display: flex;
				flex-flow: column wrap;

				@media (min-width: 768px) {
					flex-flow: row nowrap;
				}

				.shim {
					margin-bottom: 1.25rem;
					margin: 0 auto 1.25rem;

					@media (min-width: 768px) {
						margin: 0 1.25rem auto 0;
					}
				}

				.card-image {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					border-radius: 0.5rem;
					overflow: hidden;
					transition: all 150ms var(--ease-in-out);
				}
			}
		}

		&[layout="Card"] {
			@media (min-width: 540px) {
				grid-template-columns: 1fr 1fr;
			}

			@media (min-width: 1024px) {
				grid-template-columns: 1fr 1fr 1fr;
			}

			@media (min-width: 1200px) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}

			@media (min-width: 1600px) {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			}

			@media (min-width: 1920px) {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			}

			@media (min-width: 2560px) {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			}

			.card {
				width: 100%;
				border-radius: 0.5rem;

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					border-radius: 0.5rem;
					overflow: hidden;
				}
			}
		}
	}
}
