@layout AppShell
@page "/dashboard"
@inherits DashboardBase
@using Client.Models.Globals

<div class="w-full text-center py-4">
    <h1 class="font-bold mb-1 block font-lg font-grey-800">Hello @CurrentUser.Name</h1>
    <p class="font-sm block font-grey-700">This space is reserved for upcoming features. Try <a class="link font-primary-700" href="/decks/new">building a deck</a> or <a href="/cards" class="link font-primary-700">the card browser</a>.</p>
</div>