@layout AppShell
@page "/decks"
@inherits DecksBase

@if (Decks.Count > 0){
    <div class="block w-full">
        @for (int i = 0; i < Decks.Count; i++){
            <a href="/decks/edit/@Decks[i].UID">@Decks[i].Name</a>
        }
    </div>
    <div class="block w-full text-center py-2">
        <a href="/decks/new" class="button -solid -primary -rounded">
            Create a Deck
        </a>
    </div>
} else {
    <div class="block w-full text-center py-4">
        <p class="font-grey-700 line-normal mb-1">It looks like you don't have any decks.</p>
        <a href="/decks/new" class="button -solid -primary -rounded">
            Create a Deck
        </a>
    </div>
}